<ion-view view-title="卡片">
  <ion-content class="component-demo">
    <div class="demo-block">
      <h3>基本的卡片</h3>
      <div class="card">
        <div class="item">
          这是一张卡片！
        </div>
      </div>
    </div>

    <div class="demo-block">
      <h3>有头/底部的卡片</h3>
      <div class="card">
        <div class="item item-divider">
          卡片头部
        </div>
        <div class="item item-text-wrap">
          这里是卡片内容！
        </div>
        <div class="item item-divider">
          卡片底部
        </div>
      </div>
    </div>

    <div class="demo-block">
      <h3>卡片列表</h3>
      <div class="list card">
        <div href="#" class="item item-icon-left">
          <i class="icon ion-home"></i>
          Enter home address
        </div>

        <div href="#" class="item item-icon-left">
          <i class="icon ion-ios-telephone"></i>
          Enter phone number
        </div>

        <div href="#" class="item item-icon-left">
          <i class="icon ion-wifi"></i>
          Enter wireless password
        </div>

        <div href="#" class="item item-icon-left">
          <i class="icon ion-card"></i>
          Enter card information
        </div>
      </div>
    </div>

    <div class="demo-block">
      <h3>主体内容是图片的卡片</h3>
      <div class="list card">
        <div class="item item-avatar">
          <img src="img/nin_logo.jpeg">
          <h2>Pretty Hate Machine</h2>
          <p>Nine Inch Nails</p>
        </div>

        <div class="item item-image">
          <img src="img/41D5vU4I1NL.jpg">
        </div>

        <a class="item item-icon-left assertive" href="#">
          <i class="icon ion-music-note"></i>
          Start listening
        </a>
      </div>
    </div>

    <div class="demo-block">
      <h3>内容丰富的卡片</h3>
      <div class="list card">
          <div class="item item-avatar">
            <img src="img/mcfly.jpg">
            <h2>Marty McFly</h2>
            <p>November 05, 1955</p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="img/delorean.jpg">
            <p>这是文本区域！这是文本区域！这是文本区域！</p>
            <p>
               <a href="#" class="subdued">1 喜欢</a>
               <a href="#" class="subdued">5 评论</a>
            </p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i>
              喜欢
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>
              评论
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              分享
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
