<ion-view view-title="ionic组件列表">
  <ion-content>
    <ion-list>
      <ion-item class="item-divider positive">
        css组件
      </ion-item>
      <ion-item href="#/demo/button">
        按钮
      </ion-item>
      <ion-item href="#/demo/list">
        列表
      </ion-item>
      <ion-item href="#/demo/card">
        卡片
      </ion-item>
      <ion-item href="#/demo/form">
        表单
      </ion-item>
      <ion-item href="#/demo/tabs-css">
        选项卡
      </ion-item>

      <ion-item class="item-divider positive">
        js组件
      </ion-item>
      <ion-item href="#/demo/actionsheet">
        上拉菜单
      </ion-item>
      <ion-item href="#/demo/backdrop">
        背景层
      </ion-item>
      <ion-item href="#/demo/refresher">
        下拉刷新
      </ion-item>
      <ion-item href="#/demo/modal">
        模态窗口
      </ion-item>
      <ion-item href="#/demo/tabs-js">
        选项卡
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>