<ion-view view-title="选项卡">
  <ion-content class="component-demo">
    <div class="demo-block">
      <h3>文字选项卡</h3>
      <div class="tabs-demo">
        <div class="tabs">
          <a class="tab-item" href="#">主页</a>
          <a class="tab-item" href="#">收藏</a>
          <a class="tab-item" href="#">设置</a>
        </div>
      </div>
    </div>

    <div class="demo-block">
      <h3>图标选项卡</h3>
      <div class="tabs-demo">
        <div class="tabs tabs-icon-only">
          <a class="tab-item" href="#">
            <i class="icon ion-home"></i>
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-star"></i>
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-gear-a"></i>
          </a>
        </div>
      </div>
    </div>
    
    <div class="demo-block">
      <h3>顶部图标+文字选项卡</h3>
      <div class="tabs-demo">
        <div class="tabs tabs-icon-top">
          <a class="tab-item" href="#">
            <i class="icon ion-home"></i>
            主页
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-star"></i>
            收藏
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-gear-a"></i>
            设置
          </a>
        </div>
      </div>
    </div>

    <div class="demo-block">
      <h3>左部图标+文字选项卡</h3>
      <div class="tabs-demo">
        <div class="tabs tabs-icon-left">
          <a class="tab-item">
            <i class="icon ion-home"></i>
            主页
          </a>
          <a class="tab-item">
            <i class="icon ion-star"></i>
            收藏
          </a>
          <a class="tab-item">
            <i class="icon ion-gear-a"></i>
            设置
          </a>
        </div>
      </div>
    </div>
    
    <div class="demo-block">
      <h3>条纹选项卡</h3>
      <div class="tabs-demo">
        <div class="tabs-striped tabs-color-assertive">
          <div class="tabs">
            <a class="tab-item active" href="#">
              <i class="icon ion-home"></i>
              主页
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-star"></i>
              收藏
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-gear-a"></i>
              设置
            </a>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>